/**index.wxss**/
page {
	background-color: rgb(250, 250, 250);
	padding: 20rpx;
	box-sizing: border-box;
}

.topHeader {
	.userInfo {
		display: flex;
		align-items: center;
		padding: 0 20rpx;
		box-sizing: border-box;
		margin-bottom: 20rpx;

		.nickName {
			font-weight: bold;
		}
	}
}

.assetInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: rgba($color: #ffffff, $alpha: 1);
	padding: 20rpx;
	box-sizing: border-box;
	border-radius: 8rpx;

	.assetBlockTitle {
		font-size: 32rpx;
		font-weight: bold;
		margin-bottom: 20rpx;
	}

	.assetBlock {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		.asset {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.assetNumber {
			font-size: 48rpx;
			font-weight: bold;
			margin-bottom: 8rpx;
		}

		.assetTitle {
			font-size: 24rpx;
			color: rgba($color: #000000, $alpha: 0.5);
		}
	}
}