/* pages/register/register.wxss */
.content {
	padding: 80rpx 40rpx;
	box-sizing: border-box;

	.welcome_tip {
		font-size: 36rpx;
		margin-bottom: 8rpx;
	}

	.eam_name {
		font-size: 48rpx;
		font-weight: bold;
	}
}