/* pages/register/register.wxss */
page {
	background: #fafafa;
}

.header {
	padding: 80rpx 40rpx 0 40rpx;
	box-sizing: border-box;

	.welcome_tip {
		font-size: 48rpx;
		margin-bottom: 8rpx;
	}

	.eam_name {
		font-size: 48rpx;
		font-weight: bold;
	}
}

.weui-form {
	background: #fafafa;
}

.weui-form__control-area {
	margin: 20rpx 0;
}

.weui-form__opr-area {
	margin-top: 40rpx;
}