/* pages/register/register.wxss */
.header {
	padding: 80rpx 40rpx;
	box-sizing: border-box;

	.welcome_tip {
		font-size: 48rpx;
		margin-bottom: 8rpx;
	}

	.eam_name {
		font-size: 48rpx;
		font-weight: bold;
	}
}

.content {
	padding: 0 20rpx;
	box-sizing: border-box;
}

.submit {
	margin-top: 80rpx;
}