/* pages/asset/asset.wxss */
@import "../../app.scss";

page {
	--mb-8: 8rpx;
	--mb-16: 16rpx;

	background-color: #fafafa;
	padding: 0 20rpx;
	box-sizing: border-box;
}

.code {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 40rpx 0;
	padding: 20rpx;
	box-sizing: border-box;
	background: rgba($color: #ffffff, $alpha: 1.0);
	border-radius: 16rpx;
}

.assetGroup {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 40rpx;
	padding: 20rpx;
	box-sizing: border-box;
	border-radius: 16rpx;
	background: rgba($color: #ffffff, $alpha: 1);
	border: 2rpx solid rgba($color: #eaeaea, $alpha: 0.25);
	box-shadow: 0 10rpx 20rpx rgba($color: #eaeaea, $alpha: 0.25);
}

.group {
	margin: 12rpx 8rpx 12rpx 0;
	flex: 1;
	/*设置最小宽度，才会让元素排不下，导致换行排列*/
	min-width: calc((100% - 20rpx) / 2);
}

.title {
	font-size: 28rpx;
	color: rgba($color: #000000, $alpha: 0.5);
	margin-bottom: var(--mb-8);
}

.content {
	font-size: 32rpx;
}

sub {
	font-size: 24rpx;
	vertical-align: text-bottom;
}

.assetContent {
	padding: 20rpx 20rpx 40rpx;
	box-sizing: border-box;
	border-radius: 16rpx;
	background: rgba($color: #ffffff, $alpha: 1);
	border: 2rpx solid rgba($color: #eaeaea, $alpha: 0.25);
	box-shadow: 0 10rpx 20rpx rgba($color: #eaeaea, $alpha: 0.25);
}

.update_time {
	padding: 20rpx;
	box-sizing: border-box;
	font-size: 24rpx;
	color: rgba($color: #000000, $alpha: 0.5);
	margin-top: var(--mb-16);
}